# Auto detect text files and perform LF normalization
# https://www.davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
* text eol=lf

*.ps1 text eol=crlf

LICENSE binary diff=text
